body, html {
    width: 100%;
    overflow-x: hidden;
}

section {
    padding: 60px 0;
}

.headerFont {
    font-weight: 800;
    color: #0B1873
}

.card{
    transition: all 0.3s;
}

.scrollable{
    overflow-y: scroll;
    max-height: 230px;
}

.card:hover {
    transform: scale(1.10);

}

.results-list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0px 1px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}

.searchItem {
    padding: 5px 10px;
}

.searchItem:hover {
    background-color: #efefef;
}

.col-lg-4 {
    height: 450px;
}

.primary {
    font-weight: 800;

}
.subheader {
    font-weight: 800;

    
}

/* .resource {
    font-weight: ;
} */

.text {
    
    font-size: 20px;
}

.primary, .subheader, a.nav-link{
    color: #0B1873
}

.profiletext {
    color: black;
    font-weight: 800;
}


.custom-button {
    background-color: blue; 
    color: white; 
}

.btn{
    background-color: #0B1873;
}
.double-space {
    line-height: 2; 
  }
  .bullet-list {
    padding-left: 20px;
  }
  
  .bullet-list li {
    margin-bottom: 10px; 
  }


/*.btn-bd-primary {*/
/*    background-color: #0B1873 !important;*/
/*}*/

